<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
    <body class="{{anchorize .Title}}">
        <div class="main-container">
            <div class="nav-container">
                {{ partial "navigation-desktop.html" . }}
            </div>
            <div class="page-container">
                {{ partial "header.html" . }}
                {{- block "main" . -}}{{- end -}}
                {{ partial  "footer.html" . }}
            </div>
            <div class="overlay"></div>
        </div>
    </body>
</html>