{{ define "main" }}

    {{ partial "revert-bar" }}

    {{ partial "overview-section" . }}

    {{ partial "cibil-report-ctas" . }}

    <div class="page-width">

    {{ partial "timer-banner" (dict "heading" "You are eligible for unlimited CIBIL Score & Report" "subheading" "Monitor your credit and improve your loan eligibility." "cta_link" "upgrade-plan" "cta_text" "Get Unlimited Access Now") }}
    </div>
    
    {{ partial "credit-summary-ctas" (dict "section_heading" "Overview of your Credit Profile" "last_refresh_prefix" "As of your last refresh on" "last_refresh_date" "19th Apr'22" ) }}

    {{ partial "cibil-score-history" (dict "section_heading" "CIBIL SCORE HISTORY" "tooltip_content" "Instead of the earlier two-year period, your CIBIL Score now factors in a three-year period when evaluating your credit behavior. Assessment of credit data over a longer period helps provide a more comprehensive overview of your loan eligibility.<br>The enhanced score also includes new credit attributes that gives lenders a more complete view of your credit behavior to help them make objective lending decisions, even if you have a short credit history. The new enhanced score will substitute the current score in all products with a CIBIL Score offering." "tooltip_type" "info" ) }}

    {{ partial "score-comparison" (dict "section_heading" "social SCORE comparison" "subscribed" true "unsubscribed_content" "See how your score compares with other self-monitoring consumers." "subscribe_link" "upgrade-plan" "subscribe_link_text" "Compare Now" "tooltip_content" "This section of the dashboard illustrates how your CIBIL Score stands, in comparison to other consumers for whom a CIBIL Score is available." "tooltip_type" "info" ) }}

    {{ partial "personal-loan-offers-section" (dict "section_heading" "PERSONALIZED LOANS OFFERS" "offers_n_partners" .Site.Data.overview_loan_offers_n_partners ) }}

{{end}}