.simulator_info p {
    margin: 0;
}
.simulator_sec {
    background: #f9f9f9;
    padding: 20px 30px;
    margin-bottom: 30px
}
.report-table {
   padding: 20px 30px
}
.header-info h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #2c2c2c;
}
.simulator_info h3 {
    font-family: Intro;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;
}
.simulator_content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #707070;
}
.simulator_info p:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.simulator_info p:nth-child(2) {
    font-family: Intro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #707070;
}
.report-table .table-content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
li.nav-item.next-nav {
    margin-top: 30px;
}
.report-summary .nav-pills .nav-item .nav-link.active::before,
.report-summary .nav-pills .nav-item .nav-link.active::after,
.accounts-container .nav-pills .nav-item .nav-link.active::after, 
.report-summary .nav-pills .nav-item .nav-link.active::after,
.accounts-container .nav-pills .nav-item .nav-link.active::before, 
.report-summary .nav-pills .nav-item .nav-link.active::before {
    content: none;
}
.accounts-container .card:not(:first-child):before {
    width: 100%;
    left: 0px;
}
.accounts-container .card {
   padding-bottom: 20px;
}
.accounts-container .card .card-header {
    margin-top: 10px;
}
.withBorder {
    border-top: 1px solid #c0cee4;
}
.end-title{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }
.end-title:after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #2c2c2c;
    z-index: 0;
  }
  .end-title p {
    background: #fff;
    z-index: 1;
    display: inline;
    padding: 0 15px;
    position: relative;
    font-family: Intro;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}
.end-content p {
    font-family: Intro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #707070;
}
.copyright {
    text-align: center;
    margin: 30px;
}
.copyright span {
    font-family: Intro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}
.accounts-container .card .card-header .card-header-link:before {
    content: none;
}
p.table-item.hide-sm-down {
    border-left: none !important;
}
.simulator .score-bar .cibil-score, .simulator .score-bar .cibil-score-na {
    font-size: 32px;
}
.simulator .score-bar .score-pointer__wraper .pointer-image {
    left: calc(50% - 46px);
    height: 6px;
    top: 5px;
}
.accounts-container .account-body {
    border-top: none;
}
.accounts-container .card .card-header {
    padding-top: 0;
    margin-top: 0;
}
.accounts-container .columnStyle .head-col:not(:last-child) {
    border-right: 1px solid #ddd;
    height: 24px;
}
.accounts-container .account-head {
    padding-bottom: 0px;
}
.accounts-container .card:not(:first-child):before {
    background-color: #acacac;
   
}
.page-container {
    border-bottom: 10px solid #00A6CA;
}
.simulator .score-bar .bar .score_bar_img {
    width: 85%;
}


/* =============== */
.pmobile{
    display: none;
}
@media (max-width:768px){
    .pagewidth .bar img {
        width: 100px;
    }
    .page-container {
        padding: 20px;
    }
    .header-info.d-flex.justify-content-between {
        flex-direction: column;
    }
    .num\&date.d-flex.flex-column.align-items-end {
        align-items: flex-start !important;
    }
    .header-info h3 {
        font-size: 16px;
    }
    .pagewidth.mt-5.my-4 {
        margin-top: 0 !important;
    }
    
    .simulator .score-bar .score-pointer__wraper .pointer-image {
        position: absolute;
        left: calc(50% - 35px);
        transform-origin: right center;
        width: 33px;
        top: -9px;
    }
    .simulator .score-bar .score-pointer__wraper:before, .simulator .score-bar .score-pointer__wraper:after {
        position: absolute;
        bottom: -18px;
        font-weight: 600;
        font-size: 8px;
        line-height: 14px;
        color: #acacac;
    }
    
    .simulator .score-bar .cibil-score, .simulator .score-bar .cibil-score-na {
        font-size: 20px;
        margin-top: 18px;
    }
    .simulator_info h3{
    font-size: 16px;
    }
    .simulator.col-3 {
        padding: 0;
        padding-left: 15px;
        flex: 0 0 35% !important;
        max-width: 35% !important;
    }
    .col-9.simulator_info.d-flex.flex-column.pl-4.py-2 {
        padding-right: 0;
        flex: 0 0 60% !important;
        max-width: 60% !important;
    }
    img.bar-image.pmobile {
        max-width: 160px !important;
    }
    .pdesktop{
        display: none;
    }
    .pmobile{
        display: block;
        font-family: 'Intro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #707070;
    }
    .simulator_sec {
       padding: 15px;
    }
    .smilator_wraper.row.pb-2 {
        margin: 0;
        padding-bottom: 16px !important;
    }
    .report-table .table-content {
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 0;
    }
   .report-summary .nav-pills .nav-item .nav-link.active {
        font-weight: 700;
        color: #2c2c2c;
        padding-left: 0;
    }
    li.nav-item.next-nav {
        margin-top: 20px;
    }
    .smilator_wraper.row.pb-4 {
        padding-bottom: 5px !important;
    }
}

@media (min-width:480px) and (max-width:600px){
    .simulator .score-bar .score-pointer__wraper .pointer-image {
        position: absolute;
        left: calc(50% - 32px);
        transform-origin: right center;
        width: 33px;
        top: -4px;
    }
}
@media (min-width:601px) and (max-width:768px){
.simulator .score-bar .score-pointer__wraper .pointer-image {
    position: absolute;
    left: calc(50% - 47px);
    transform-origin: right center;
    width: 46px;
    top: 3px;
}
}
@media (max-width:1060px){
.page-container {
    padding: 20px;
}
}