<div class="graph-data">
    <div class="comparison-graph">
        <div class="comparison-graph__wraper">
            <table class="comparison-data">
                <tr>
                    <th>City</th>
                    <th>Income Type</th>
                    <th>Monthly Income</th>
                </tr>
                <tr>
                    <td>Mumbai</td>
                    <td>Salaried</td>
                    <td>₹ 80,000</td>
                </tr>
            </table>
            <div class="graph-content">
                <div class="graph-container">
                    <div class="graph-bar">
                        <div class="percent low" data-width="15%" data-percent="15"></div>
                        <div class="percent low-medium" data-width="22%" data-percent="37"></div>
                        <div class="percent medium" data-width="25%" data-percent="62"></div>
                        <div class="percent high-medium" data-width="18%" data-percent="80"></div>
                        <div class="percent high" data-width="20%" data-percent="100"></div>
                    </div>
                    <div class="graph-bar-pointer">
                        <div class="graph-bar-pointer__wraper">
                                <p class="hairline-bold">Your CIBIL Score</p>
                                <p class="score" data-score="720"></p>
                        </div>
                    </div>
                </div>
                <hr class="horizontal-seperator">
                <ul class="graph-legend">
                    <li class="legend low">300-390</li>
                    <li class="legend low-medium">391-522</li>
                    <li class="legend medium">523-672</li>
                    <li class="legend high-medium">673-780</li>
                    <li class="legend high">781-900</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="comparison-footer">
        <p class="score-percent-text body-bold">Your CIBIL Score lies in the top <span class="percent">70</span>% in Mumbai.</p>
        <p>Based on the Transunion CIBIL Data</p>
    </div>
</div>