<div class="modal fade" id="refreshPopup" tabindex="-1" role="dialog" aria-labelledby="refreshPopup-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="primary-heading-h4 hide-sm-down">{{ .heading | safeHTML }}</p>
          <p class="primary-heading-h4 hide-md-up">{{ .heading_mob | safeHTML }}</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><img src="{{ "images/static-images/close-icon.svg" | relURL }}" alt=""></span>
          </button>
        </div>
        <div class="modal-body">
            {{ .content | safeHTML }}
            {{ partial "forms/consent-form" }}
        </div>
      </div>
    </div>
  </div>