<div class="graph-data">
    <div class="comparison-graph">
        <div class="comparison-graph__wraper">
            <div class="graph-content">
                <div class="graph-container">
                    <div class="graph-bar">
                        <div class="percent low" data-low="0" data-high="20" data-width="20%" data-percent=""></div>
                        <div class="percent low-medium" data-low="21" data-high="40" data-width="20%" data-percent=""></div>
                        <div class="percent medium" data-low="41" data-high="60" data-width="20%" data-percent=""></div>
                        <div class="percent high-medium" data-low="61" data-high="80" data-width="20%" data-percent=""></div>
                        <div class="percent high" data-low="81" data-high="100" data-width="20%" data-percent=""></div>
                    </div>
                    <div class="graph-bar-pointer">
                        <div class="graph-bar-pointer__wraper">
                                <p class="hairline-bold">Your CIBIL Score</p>
                                <p class="score" data-score="767"></p>
                        </div>
                    </div>
                </div>
                <hr class="horizontal-seperator">
                <div class="legend-wrap">
                    <span class="hairline">Score Range</span>
                    <div class="hide-sm-down">
                        <ul class="graph-legend">
                            <li class="legend low"><span class="blur">000-000</span></li>
                            <li class="legend low-medium"><span class="blur">000-000</span></li>
                            <li class="legend medium"><span class="blur">000-000</span></li>
                            <li class="legend high-medium"><span class="blur">000-000</span></li>
                            <li class="legend high"><span class="blur">000-000</span></li>
                        </ul>
                    </div>
                    <div class="hide-md-up">
                        <ul class="graph-legend">
                            <li class="legend low"><span class="blur">000</span></li>
                            <li class="legend low-medium"><span class="blur">000</span></li>
                            <li class="legend medium"><span class="blur">000</span></li>
                            <li class="legend high-medium"><span class="blur">000</span></li>
                            <li class="legend high"><span class="blur">000</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comparison-footer">
        <p class="score-percent-text body">Your CIBIL Score lies in the top <span class="body-bold"><span class="percent">X</span>%</span> in <span class="location body-bold">All of India</span>.</p>
        <p class="hairline">Based on the Transunion CIBIL Data</p>
    </div>
</div>