<div class="graph-data">
    <div class="comparison-graph">
        <div class="comparison-graph__wraper">
            <div class="graph-content">
                <div class="graph-container">
                    <div class="graph-bar">
                        <div class="percent low" data-low="0" data-high="22" data-width="22%"><span></span></div>
                        <div class="percent low-medium" data-low="23" data-high="40" data-width="18%"><span></span></div>
                        <div class="percent medium" data-low="41" data-high="64" data-width="24%"><span></span></div>
                        <div class="percent high-medium" data-low="65" data-high="90" data-width="26%"><span></span></div>
                        <div class="percent high" data-low="91" data-high="100" data-width="10%"><span></span></div>
                    </div>
                    <div class="graph-bar-pointer">
                        <div class="graph-bar-pointer__wraper">
                                <p class="hairline-bold">Your CIBIL Score</p>
                                <p class="score" data-score="767"></p>
                        </div>
                    </div>
                </div>
                <hr class="horizontal-seperator">
                <div class="legend-wrap">
                    <span class="hairline">Score Range</span>
                    <div>
                        <ul class="graph-legend">
                            <li class="legend low">300-722</li>
                            <li class="legend low-medium">723-747</li>
                            <li class="legend medium">748-764</li>
                            <li class="legend high-medium">765-777</li>
                            <li class="legend high">778-900</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comparison-footer">
        <p class="score-percent-text body">Your CIBIL Score lies in the top <span class="body-bold"><span class="percent">X</span>%</span> in <span class="location body-bold">All of India</span>.</p>
        <p class="hairline">Based on the Transunion CIBIL Data</p>
    </div>
</div>