<div class="offer-card-list">

    <div class="offers-card" amount="₹7,30,000" data-index="1">
        <div class="offer-info-wrap">
            <div class="company-container">
                <span><img src="/cibil-dashboard-paid/images/dynamic-images/digit-logo.svg" class="company-logo"></span>
                <label class="company-name">DIGIT</label>
            </div>
            <div class="offer-info">
                <li>
                    <span>Loan Upto</span>
                    <span>₹7,30,000</span>
                </li>
                <li>
                    <span>Interest Rate (%)</span>
                    <span>4.16%</span>
                </li>
                <li>
                    <span>Interest Type</span>
                    <span>Fixed</span>
                </li>
                <li>
                    <span>Processing Fees Upto</span>
                    <span>₹349 + GST</span>
                </li>
            </div>
        </div>
        <div class="offer-cta">
            <a class=" cibil-button toggle-popup" data-target="offersPopup">VIEW OFFER</a>
            <a class="cibil-link" onclick="addToCompare(this)" data-target="1"><span><b class="plus-icon">&#x2715</b> Add to compare</span><span>&#x2715 Remove from compare</span></a>
        </div>
    </div>

    <div class="offers-card premium-partner" amount="₹8,00,000" data-index="2">
        <div class="offer-info-wrap">
            <div class="company-container">
                <span><img src="/cibil-dashboard-paid/images/dynamic-images/bajaj-finserv-logo.svg" class="company-logo"></span>
                <label class="company-name">Bajaj Finserv</label>
            </div>
            <div class="offer-info">
                <li>
                    <span>Loan Upto</span>
                    <span>₹8,00,000</span>
                </li>
                <li>
                    <span>Interest Rate (%)</span>
                    <span>3.35%</span>
                </li>
                <li>
                    <span>Interest Type</span>
                    <span>Floating</span>
                </li>
                <li>
                    <span>Processing Fees Upto</span>
                    <span>₹499 + GST</span>
                </li>
            </div>
        </div>
        <div class="offer-cta">
            <a class=" cibil-button toggle-popup" data-target="offersPopup">VIEW OFFER</a>
            <a class="cibil-link" onclick="addToCompare(this)" data-target="2"><span><b class="plus-icon">&#x2715</b> Add to compare</span><span>&#x2715 Remove from compare</span></a>
        </div>
    </div>

</div>