{{ range .banner }}
<div class="banner-section">
  <div class="page-width">
    <div class="banner-section__wraper">
      <div class="left-side">
        <p class="username h3 hide-sm-down">Hi {{.username}}, you have <span class='highlight'>321 days</span> till your next refresh.</p>
        <p class="username h3 hide-md-up">Hi {{.username}},<br>you have <span class='highlight'>321 days</span> till your next refresh.</p>
        <p class="h3 subtext hide-sm-down">Upgrade now and always be credit-ready.</span></p>
        <p class="h3 hide-md-up"><span class='highlight'>Upgrade now</span> <span>and always be credit-ready.</span></p>
      </div>
    </div>
  </div>
</div>
{{ end }}