<meta charset="utf-8">
<!-- utf-8 works for most cases -->
<meta name="viewport" content="width=device-width">
<!-- Forcing initial-scale shouldn't be necessary -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Use the latest (edge) version of IE rendering engine -->
<meta name="x-apple-disable-message-reformatting">
<!-- Disable auto-scale in iOS 10 Mail entirely -->
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}/favicons/favicon-16x16.png">
<link rel="manifest" href="{{.Site.BaseURL}}/favicons/site.webmanifest">
<!-- title -->
<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>