<div class="page-width">
<div class="popup" id="{{.id}}">
    <div class="popup-content">
        <span class="close-popup">{{ partial "icons/popup-close"}}</span>
        <div class="popup-hedear">
            Repayment options
        </div>
        <div class="popup-body">
            <p class="content-head">Terms & Condition</p>
            <p class="content-text">I hereby expressly grant unconditional consent to my details being shared with the lenders and authorize them to reach me at the contact details provided. I understand that credit approval is subject to documentation and internal credit guidelines and policies.</p>
            <p class="content-text">I accept the terms and conditions mentioned on www.cibil.com Note: By clicking on “Agree & Continue” you accept the terms and conditions</p>
            <a class="cibil-button popup-agree">AGREE & CONTINUE</a>
        </div>
        <div class="success-body">
            {{ partial "icons/tick-green"}}
            <p class="content-head">Thank you for your interest</p>
            <p class="content-text">Your request has been forwarded to the financial institution and they will get in touch with you shortly.</p>
        </div>
    </div>
</div>
<div class="popup-overlay"></div>
</div>