<div class="page-width">
    <div class="report-tabs mobile-tabs">
        <ul class="reportTabs mobileTabs" id="reportTab">
            <li class="report-nav-item" role="presentation">
                <button class="report-nav-link active" id="summary-tab" data-target="#summary" role="tab"
                    aria-controls="summary"><img src='{{"images/static-images/report-summary.svg" | relURL}}'>CIBIL Summary</button>
            </li>
            <li class="report-nav-item" role="presentation">
                <button class="report-nav-link" id="account-tab" data-target="#account"><img
                        src='{{"images/static-images/account-info.svg" | relURL}}'>Account Information</button>
            </li>
            <li class="report-nav-item" role="presentation">
                <button class="report-nav-link" id="profile-tab" data-target="#profile" role="tab"
                    aria-controls="profile"><img src='{{"images/static-images/profile-info.svg" | relURL}}'>Profile
                    Information</button>
            </li>
            <li class="report-nav-item" role="presentation">
                <button class="report-nav-link" id="enquiry-tab" data-target="#enquiry" role="tab"
                    aria-controls="enquiry"><img src='{{"images/static-images/enquiry-info.svg" | relURL}}'>Enquiry
                    Information</button>
            </li>
        </ul>
    </div>
    <div class="report-content">
        <div class="tab-content">
            <div class="tab-panel active" id="summary"  aria-labelledby="summary-tab">{{partial "report-summary-paid" . }}</div>
            <div class="tab-panel" id="account"  aria-labelledby="account-tab">{{ partial "report-account" . }}</div>
            <div class="tab-panel" id="profile"  aria-labelledby="profile-tab">{{partial "report-profile" . }}</div>
            <div class="tab-panel" id="enquiry"  aria-labelledby="enquiry-tab">{{partial "report-enquiry" . }}</div>
        </div>
    </div>
</div>
<script>
    // $(function () {
    //     $('#reportTab li:last-child button').tab('show')
    // })
</script>