<div class="report-bar">
    <div class="page-width">
        <div class="report-bar-wrap">
            <span class="report-bar-item"><span>Control Number<br><b>3,865,813,852</b></span></span>
            <span class="report-bar-item"><span><b>(e)</b> Indicates the value provided by bank when you applied for a credit facility.</span></span>
            <span class="report-bar-item"><a href="" class="cibil-link-dark">{{partial "icons/print"}}<span>Print Your CIBIL Report</span></a></span>
        </div>
    </div>
</div>