<div class="revert-bar">
    <div class="page-width revert-bar__wraper">
        <div class="revert-bar__body">
            <img src="{{ "images/static-images/revert-icon.svg" | relURL }}" alt="" class="bar-icon">
            <p>Welcome! We have upgraded to a new version of CIBIL Dashboard. To continue <a href="/cibil-dashboard-paid/overview_paid/" class="cibil-link inherit-font"> Click Here</a> or <a href="#" class="cibil-link inherit-font">Switch Back</a> to the old view.</p>
        </div>
    </div>
</div>