<div class="score-history">
    <div class="score-history__wraper">
        <div class="history-graph">
            {{if  eq .state "unsubscribed"}}
                <img src="{{ "/images/static-images/score-history-graph.svg" | relURL }}" alt="" class="empty-graph  hide-sm-down">
                <img src="{{ "/images/static-images/score-history-graph-mob.svg" | relURL }}" alt="" class="empty-graph  hide-md-up">
            {{else}}
            <canvas id="scoreHistoryChart" width="400" height="252"></canvas>
            {{end}}
        </div>
        <div class="history-details">
            <div class="history-details__wraper">
                {{if  eq .state "unsubscribed"}}
                    <div class="{{ anchorize .state}}">
                        {{if .unsubscribed_content}}<p class="content">{{.unsubscribed_content}}</p>{{end}}
                        {{if .content1}}<p class="content">{{.content1}}</p>{{end}}
                        {{if .subscribe_link}} <a href="{{.subscribe_link}}" class="cibil-link cibil-link-right-icon">{{.subscribe_link_text}}</a> {{end}}
                    </div>
                {{else}}
                    <div class="{{ anchorize .state}}">
                        {{range $index, $element :=.scoreHistory }}
                        <div class="history-info {{if eq .active true}}active{{end}}" data-month="{{$index}}">
                            <p class="history-month">{{$index}} 2022</p>
                            <ul class="cibil-scrollbar body-bold score-history-list">
                                {{range .scores}}
                                    <li class="score-item {{.status}}"><span class="score">{{if .score }}{{.score}}{{else}}N/H{{end}}</span><span class="hairline date">{{.date}}</span></li>
                                {{end}}
                            </ul>
                        </div>
                        {{end}}
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>