{{ range .simulator }}
<div class="simulator-section" id="cibil-score">
    <div class="simulator-section__wraper">
        <div class="simulator-container">
            <div class="wrap-section">
                {{if .username}}<p class="username">{{.username}}</p>{{end}}
                {{ partial "simulator" . }}
            </div>
            <div class="simulator-links">
                {{if .link}}<a href="{{.link}}" class="cibil-link">{{.link_text}}</a>{{end}}
                <a onclick="refreshPopupShow()" class="cibil-button">{{.button_text}}</a>
            </div>
        </div>
    </div>
</div>
{{ end }}