<div class="summary-count-cta {{if .classes}}{{.classes}}{{end}}">
    {{ if or .summary_number .summary_years .summary_months }}
        {{ partial "summary-count" .}}
    {{end}}
    {{if .summary_usage}}
    {{ partial "summary-usage" .}}
    {{end}}
    <p class="summary-title">{{.summary_title}}</p>
    <!-- <p class="summary-rating {{if .rating}}{{.rating}}{{end}}">{{.rating_text}}</p>
    {{if .tooltip_content}}
        {{ partial "tooltip" . }}
    {{end}} -->
    <p class="summary-details">{{.summary_details}}</p>
    {{if .cta_link}}<a href="{{.cta_link}}" class="cibil-link cibil-link-right-icon">{{.cta_text}}</a>{{end}}
</div>