
    <div class="ce-video-cta">
      <div class="ce-video-cta__wraper">
          <div class="video-cta-link cta-thumbnail" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../..{{.thumbnail}}');" data-toggle="modal" data-target="#video-CTA-modal-{{.popupId}}" data-player="download-now-video-{{.videoId}}">
              <div class="play-button"><img src="{{ "/images/static-images/play-icon.svg" | relURL }}" alt=""></div>
          </div>
          <div class="content">
              <p class="desc">{{.articleTitle}}</p>
              <a class="cibil-link cibil-link-right-icon underlined" data-toggle="modal" data-target="#video-CTA-modal-{{.popupId}}">Watch Now</a>
          </div>
      </div>
    </div>
