
<div class="subscription-details-box">
    <div class="subscription-details">
        <span class="text-head">Your Subscription</span>
        <span class="text-grey">1 Year Unlimited CIBIL Report, Score & Monitoring</span>
        <span class="text-head">Subscription status</span>
        <span class="subscription-status active-status">Active</span>
        <div class="row">
            <div class="col-6">
                <span class="text-head">Start Date</span>
                <span class="text-grey">09/04/2021</span></div>
            <div class="col-6">
                <span class="text-head">End Date</span>
                <span class="text-grey">10/04/2022</span>
            </div>
        </div>
    </div>
    <div class="subscription-renew-box">
        <span class="head">3 Days Left</span>
        <span class="subtext">before your subscription ends.</span>
        <a href="/cibil-dashboard-paid/overview_paid/upgrade-plan/" class="cibil-button">RENEW NOW</a>
    </div>
</div>